/* Header-Bereich */
header {
  margin: 0; 
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column; 
}

#headerText {
  max-width: 90%;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Header-Bild */
.rightHeader img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Flexbox-Anordnung im Header */
.leftHeader, .rightHeader {
  flex: 1;
}

/* Navigation */
nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--textfarbe);
  text-decoration: none;
  position: relative;
  padding: 3px;
}

/* Animation bei Hover für Links */
nav a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: var(--hauptfarbe2);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 150ms ease-in-out;
} 
  
nav a:hover::after {
  width: 100%;
}